.fc-col-header-cell-cushion {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.21px;
  text-align: center;
  color: #6c757d !important;
}
.todo-block {
  border: none;
}
