
body{
    background: #d6e6f9 !important;
}

.start, .start2{
    position: absolute;
    left:10000px;
}

.calendar-wrapper, #eventManagePanel{
    background: #fff;
}

.strike {
    text-decoration: line-through;
}

.material-icons {
    cursor: pointer;
}

th, td {
    text-align: center;
    border: 1px solid #efefef;
    padding: 5px;
}

#sortByDate {
    display: block;
    width: 100%;
}



/* ===================================== Aleksandr ====================================== */

/* @import url("https://fonts.googleapis.com/css2?family=Rowdies&family=Titillium+Web&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.todo-input {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    row-gap: 1rem;
}

.todoTable-block {
    margin-top: 1rem;
}

.pagination-pages {
    text-align: right;
}

.pagination-pages>* {
    margin-right: 0.5rem;
    cursor: pointer;
}

.material-icons {
    cursor: pointer;
}

::-ms-input-placeholder {
    color: #7EC2DC;
}

::-webkit-input-placeholder {
    color: #7EC2DC;
}

::placeholder {
    color: #7EC2DC;
}

input {
    color:  #00467A;
}

h3 {
    color: #E2E9EF;
    font-family: "rowdies", cursive;
    padding: 1rem;
    background-color:  #00467A;
    border-radius: 10px;
}

/* body {
    font-family: 'Roboto Condensed', sans-serif;
} */

.todo-block {
    padding: 1rem;
    border-radius: 20px;
}

#date, #time, #nazva, #allCategory {

    color: white;
}

#categoryFilter {

    border-radius: 10px;
}

#done {
    /* background-color: green; */

    min-width: 75px;
}

#nazva{
    min-width: 280px;
}


#edit{

    min-width: 110px;
}

#delete {

    min-width: 110px;
}

#allCategory{
    min-width: 280px;
}


#date{
    min-width: 160px;
}

#time{
    min-width: 70px;
}


#todoTable {
    margin-top: 1rem;
}

/* .todo-overlay {
    width: 100vw;
    height: 100vh;
    background-color: #dddddd;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100vw);
    transition: transform 250ms;
    z-index: 2;
}

.todo-modal {
    min-width: 50vw;
    height: 50vh;
    border: 1px solid green;
    background-color: #ffd6cc;
}

.todo-modal-close-btn {
    background-color: red;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.slidedIntoView {
    transform: translateX(0);
    transition: transform 650ms;
}

#todoTable tr:nth-child(even) {
    background-color: #ffd6cc;
} */

/* button {
    background-color: #025B86;
    color: #99CCD1;
    border: 1px outset #01467A;
    border-radius: 5px;
} */

button:hover {
    background-color: #01467A;
}

.chevron {
    transform: translateY(0.4rem);
}

.itemsPerPage {
    text-align: right;
    margin-bottom: 0.5rem;
}

/* input border radius*/

#inpEvent, #inpCategory, #dateInput, #timeInput {
    border-radius: 5px;
    /* border-color: #0146; */
}

.flexContainer {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -15px;
}

.panel {
    /* margin: 0 15px; */
    width: 100%;
}

/* .panel-popup{
    width: 50%;
    margin: 0 auto;
} */

.calendar-wrapper {
    margin: 0 15px;
    width: 100%;
}

.fc-button {
    padding: 0 5px!important;
}

.fc .fc-button{
    font-size: 0.8em!important;
}

.table-wrapper {
    overflow: auto;
    width: 100%;
}

#eventManagePanel{
    display: block;
    overflow: auto;
}


.container{
    padding-left: 15px  !important;
    padding-right: 15px  !important;
    max-width:1200px  !important;
}


@media screen and (max-width: 1200px) {
    .fc .fc-toolbar{
        flex-direction: column!important;
    }
}

@media screen and (max-width: 992px) {
    .container{
        max-width:1200px  !important;

    }

    .flexContainer {
        flex-wrap: wrap;
    }
    .panel {
        order: 2;
        width: 100%;
    }
    .calendar-wrapper {
        order: 1;
        width: 100%;
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 768px) {

    .fc .fc-daygrid-week-number{
        display: none!important;
    }
}


/* @media screen and (max-width: 767px){

    #todoTable, .calendar{
        margin-top: 1rem;
    }
}

@media screen and (min-width:768px){

    .todo-grid-parent{
        display: grid;
        grid-template-columns: 2fr 3fr;
        column-gap: 1rem;
    }

    
    
    #calendar{
        position: sticky;
        top: 0;

    }
} */